server:
  port: 8080
  forward-headers-strategy: framework

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
              - Path=/api/user/**, /api/auth/**, /api/group/**, /api/admin/**

            - id: course-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/module/**, /api/course/**, /api/theme/**, api/test/**

