body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #d9f1f1;
    margin: 0;
    padding: 0;
}


#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modules-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
}